{% load i18n %}
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/bootstrap-theme.min.css" %}>
    <link rel="stylesheet" href={% static "font-awesome/css/font-awesome.min.css" %}>
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
    <div id="header">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Library Management System</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
      {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'auth_logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        <li><a href="{% url 'auth_password_change' %}"><span class="glyphicon glyphicon-lock"></span> Change Password</a></li>
        </ul>
      {% else %}
          <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span>Signup </a></li>
          <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          </ul>
      {% endif %}
      </div>
  </div>
</nav>
    </div>
    <div id="content">
    {% block content %}{% endblock %}
    </div>
</body>
</html>
